body{background-color:rgb(253, 253, 135)}

button{width: 100px;height: 25px;}
button{background-color: rgb(255,255,255);}



#img-0{ width: 150px;height: 150px;}

p{text-align: center;}
p{font-size: 50px;}
p{color: blue;font-weight: bold;margin: 0px;}

#img-1{width: 350px;height: 200px;}
#img-2{width: 350px;height: 250px;margin: 50px;}
#img-3{width: 350px;height: 200px;}











